manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: caksoylar
      url-base: https://github.com/caksoylar
    - name: soft-off
      url-base: https://github.com/carrefinho
  projects:
    - name: zmk
      remote: soft-off
      revision: soft-off-pm-fix
      import: app/west.yml
    - name: zmk-rgbled-widget
      remote: caksoylar
      revision: main
  self:
    path: config
